.content {
  text-align: center;
  padding: 2em 0;
  &Topics {
    padding: 0 0 2em;
  }
}

.heading {
  &2Xl {
    font-size: 1.5em;
    font-weight: 500;
  }
  &Lg {
    font-size: 1em;
    margin: 1em 0;
  }
  &Md {
    font-weight: 300;
  }
}

.list {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 10%;
  &Item {
    margin: 10px 1em;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #edecea 0px 1px 5px 0px;
    width: 350px;
  }
  &ImgWrapper {
    text-align: center;
    margin: 0 auto;
  }
  &Img {
    display: inline-block;
  }
  &Name {
    text-align: center;
    font-weight: bold;
    &:after {
      content: '';
      display: block;
    }
  }
  &Details {
    text-align: left;
    margin: 10px 0;
  }
  &Label span {
    font-weight: 500;
  }
}

.borderCircle {
  border-radius: 50%;
}
