.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderGeneral {
  display: block;
}
.borderCircle {
  border-radius: 50%;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &ImgWrapper {
    text-align: center;
    margin: 0 auto;
  }
  &Img {
    display: inline-block;
  }
  &Item {
    margin: 1rem;
    width: 270px;
  }
  &Name {
    text-align: center;
    &:after {
      content: '';
      display: block;
    }
  }
}
.lightText {
  color: #999;
}

.details {
  margin: 10px 0;
}
