.container {
  padding: 0;
}

.header {
  background: var(--dark-blue);
  color: #fff;
  padding: 1em 2em;
  margin: 0 auto;
  text-align: center;
  &Image {
    width: 6em;
    height: 6em;
  }
  &HomeImage {
    width: 8em;
    height: 8em;
  }
}

.backToHome {
  margin: 3em 0 0;
}
